[submodule "libs/Array"]
	path = libs/Array
	url = https://github.com/SanjoSolutions/LuaArray.git
[submodule "libs/Library"]
	path = libs/Library
	url = https://github.com/SanjoSolutions/Library.git
[submodule "libs/Testing"]
	path = libs/Testing
	url = https://github.com/SanjoSolutions/LuaTesting.git
